@import 'help';

.header {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 50px;
}

.header__menu {
    margin: 40px 20px 0 60px;
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
}

.list__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
    .item__link {
        font-size: 20px;
        line-height: 29px;
        transition: 0.8s;
        &:hover{
            transition: 0.2s;
            color: $red;
        }
    }
}


._container {
    max-width: 900px;
    margin: 0 auto;
}

.header__body {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    .body__text {
        max-width: 497px;
        .body__title {
            font-size: 44px;
            line-height: 60px;
        }
    
        .body__sub {
            margin-top: 40px;
            font-size: 16px;
            line-height: 24px;
        }
    
        .body__link{
            display: inline-block;
            margin-top: 37px;
            padding: 9px 20px;
            background-color: $red;
            color: white;
            transition: 0.4s;
            &:hover{
                color: black;
            }
        }
    }
}

@media screen and (max-width:36.875em) {
    .header__menu {
        margin: 0;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .header__body {
        margin-top: 120px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        justify-items: center;
        .body__text{
            order: 2;
        }
        img{
            order: 1;
        }
    }
}