@import 'help';

.sec-feat-works {
    margin-right: 20px;
    margin-left: 20px;
}

.works__title {
    margin-top: 15px;
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 60px;
}

.works__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;

    hr {
        height: 0;
        border: 1px solid #E0E0E0;
    }

    .card {
        display: grid;
        grid-template-columns: 246px 1fr;
        align-items: center;
        grid-gap: 20px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .card__text {
        .card__title {
            font-size: 30px;
            line-height: 44px;
        }

        .card__params {
            display: flex;
            align-items: center;
            margin-top: 16px;
            margin-bottom: 16px;

            .params__year {
                margin-right: 25px;
                font-size: 18px;
                padding: 3px 10px;
                background: #142850;
                border-radius: 16px;
                color: white;
            }

            .params__type {
                color: $light-gray;
            }
        }

        .card__text {
            line-height: 24px;
        }
    }

}

@media screen and (max-width:36.875em) {
    .works__cards{
        .card{
            grid-template-columns: 1fr;
        }
    }
}