@import 'help';

.sec-rec-posts {
    background-color: $sky-blue;
}

.rec-posts__body {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 7px;
    padding-bottom: 39px;
}

.body__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top__name {
        font-size: 22px;
        line-height: 60px;
    }

    .top__view-all {
        color: $blue;
        line-height: 24px;
        &:hover{
            cursor: pointer;
            color: #0058cc;
        }
    }
}


.body__post-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .card {
        background-color: white;
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
        border-radius: 4px;
        padding: 24px 21px;
    
        .card__title {
            font-size: 26px;
            line-height: 38px;
        }
    
        .card__date {
            font-size: 18px;
            line-height: 26px;
            margin-top: 17px;
            margin-bottom: 11px;
        }
    
        .card__text {
            line-height: 24px;
        }
    }
}

@media screen and (max-width:36.875em) {
    .body__post-cards {
        display: grid;
        grid-template-columns: 1fr;
        
    }
}