@import 'help';
@import 'null-style';
body{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: $dark;
}
hr {
    height: 0;
    border: 1px solid #E0E0E0;
}

@import 'header';
@import 'sec-rec-posts';
@import 'sec-featured-work';
@import 'footer';
@import 'blog-page';