.super-bold {
   font-weight: 900;
}

.bold {
   font-weight: 700;
}

.medium {
   font-weight: 500;
}

.footer {
   height: 182px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}

.body__images {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 35px 1fr 35px 1fr 35px 1fr;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 35px;
}

.body__privacy {
   font-size: 14px;
   line-height: 21px;
}